nav img {
    margin-left: 5px;
}
.nav-item{
    margin-top: 4px;
}
.p-2{
    margin-top: 5px;
}
.welcome {
    background: url(/App_Lista_de_Contactos/static/img/background.jpg);
    background-position: center center;
    background-size: cover;
}



